.tangcloud {
    font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 'sans serif';
}

.tangcloud-item-1 {
    font-size: 10px;
    color: green;
}

.tangcloud-item-2 {
    font-size: 15px;
    colro: #69d100
}

.tangcloud-item-3 {
    font-size: 20px;
}

.tangcloud-item-4 {
    font-size: 25px;
}

.tangcloud-item-5 {
    font-size: 30px;
}

.tangcloud-item-6 {
    font-size: 35px;
}

.tangcloud-item-7 {
    font-size: 40px;
}

.tangcloud-item-8 {
    font-size: 45px;
}

.tangcloud-item-9 {
    font-size: 50px;
}

.tangcloud-item-10 {
    font-size: 55px;
}